*

# except
!.gitignore
!*.m
!*.h
!*.c
!*.cpp
!*.txt
!*.md
!*.py
!*.pdf
!*.rst
!*.ipynb
!*.npz
!*.yml
!*.yaml
!*.toml


# even if in sub-dirs
!*/

# but never in these folders
*.egg-info/
*.ipynb_checkpoints/
*back/
*arch/
*.vscode/
*.idea/
*tmp/
*temp/
*.vector_cache/
*data/
*prof/
*build/
*dist/
*.pyc
*tests/dev
mrt/
docs/_build
docs/_static
docs/_templates
.ruff_cache
